.App {
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table, th, td {
  border: 1px solid black;
  padding: 5px
}

.table {
  text-align: center;
}

th {
  color: blue;
}

.upload-file-form {
  margin: 20px 0;
  text-align: start;
}

input {
  display: none;
}

.btn {
  background-color: #f3f2f2;
  font-size: 15px;
  font-weight: 500;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 12px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.btn:hover {
  background-color: #38383a;
  color: white;
  border-color: #38383a;
}

.route-info {
  border-bottom: solid 1px gray;
  margin: 10px 0;
    
}